.App {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}

.App h1 {
  color: #007bff;
  margin-bottom: 40px;
}

.content {
  display: flex;
  justify-content: space-around;
}
